/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  /* This is the parent of the activity 1 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 20px;
}

/*when editing, don't forget the space between the parent and the child*/
.content1 .red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;

} 
.content1 .green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 

} 
.content1 .yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 

.content1 .blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue;
  grid-column: 1/3;
} 
/* Activity 2 styles */ 
.content2 {
  /* This is the parent of the activity 2 boxes. */ 
  /* Properties used: (1) margin-top, margin-left or (2) grid-template-columns: 50px 50px 50px 50px 50px;*/
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
}

.content2 .red2 {
  width: 100px; 
  height: 100px; 
  background-color: red;
}

.content2 .green2 { 
  width: 100px; 
  height: 100px; 
  background-color: green;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:  2;
  grid-row-end: 3;
}

.content2 .yellow2 {
  width: 100px; 
  height: 100px; 
  background-color: gold;
  /* NOT using span with grid-column or grid-grow, it jumpes aroudn the order of each item*/
  grid-column: 3/4;
  grid-row: 3/4;
} 
.content2 .blue2 {
  width: 100px; 
  height: 100px; 
  background-color: blue; 
  grid-column: 4/5;
  grid-row: 4/5;
} 
/* Activity 3 styles */ 
.content3 {
  /* This is the parent of the activity 3 boxes. */
  display: grid;
  /* do NOT write 2fr once, it won't change the coluns*/
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 70px;
  
}
.content3 .red3 {
  width: 100%; 
  height: 100px; 
  background-color: red;
  grid-column: 1/3;
} 
.content3 .green3 {
  width: 310;
  height: 200px; 
  background-color: green;
  /* NO need to write grid-column to green and yellow, they will fall into place right away for being divs*/

} 
.content3 .yellow3 {
  width: 310; 
  height: 200px; 
  background-color: gold;
} 
.content3 .blue3 {
  width: 100%; 
  height: 100px;  
  background-color: blue;
  grid-column: 1/3;
} 
/* Activity 4 styles */ 
.content4 {
  /* This is the parent of the activity 4 boxes. */
  height: 400px;
  display: grid;
  /* do NOT write only 2 or 2fr... it is not going to generate 2 columns, but a single row*/
  grid-template-columns: repeat(2, 1fr);
  
}
.content4 .red4 {
  width: 100%; 
  height: 100%; 
  background-color: red;
  grid-row: 1/4;
} 
.content4 .green4 {
  width: 100%; 
  height: 100%; 
  background-color: green; 
} 
.content4 .yellow4 {
  width: 100%; 
  height: 100%; 
  background-color: gold; 
} 
.content4 .blue4 {
  width: 100%; 
  height: 100%; 
  background-color: blue; 
} 
/* Activity 5 styles */ 
.content5 {
  /* This is the parent of the activity 5 boxes. */
  height: 400px;
}
.content5 .red5 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
}

.content5 .green5 { 
  width: 150px; 
  height: 150px; 
  background-color: green; 
  float: left;
}

.content5 .yellow5 {
  width: 100%;
  /* each 20px is a complete line*/ 
  height: 200px; 
  background-color: gold; 
}

.content5 .blue5 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
}

/* Activity 6 styles */ 
.content6 {
  /* This is the parent of the activity 6 boxes. */
  display: grid;
  grid-template-columns: repeat(6, 100px);
}

.content6 .red6 {
  width: 100%; 
  height: 200px; 
  background-color: red;
  grid-column: 1/5;
  grid-row: 1/3;
} 

.content6 .green6 {
  width: 100%; 
  height: 200px; 
  background-color: green;
  grid-column: 1/3;
  grid-row: 4/6;
  z-index: 12;
}

.content6 .yellow6 {
  width: 100%; 
  height: 400px; 
  background-color: yellow;
  grid-column: 5/7;
  grid-row: 3/7;
  z-index: 12;
}

.content6 .blue6 {
  width: 100%; 
  height: 400px; 
  background-color: blue;
  grid-column: 2/6;
  grid-row: 2/5;
  z-index: 9;
} 


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}